.css-donation-modal {
    position: fixed;
    top: 10%;
    left: 24%;
    width: 740px;
    height: 100vh;
    background-color: white;
    z-index: 1;
    border-radius: 10px;
    padding: 50px;
    /*visibility: hidden;*/
    overflow-y: auto;
}

.css-modal-enabled {
    background-color: #979797;
    opacity: 0.9;

}

.css-products-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}