.css-about-products {
    border-radius: 10px;
    background-color: white;
    width: auto;
    height: 1200px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.css-product {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 634px;
    height: 248px;
}

.css-product .css-product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.css-product .css-product-header p{
    color: #3CB3AB;
}

.css-product .css-product-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.css-product .css-product-footer h2::after {
    content: 'left';
    font-family: 400;
    font-size: 20px;
    line-height: 30px;
    color: #7A7A7A;
    margin-left: 10px;
}

.css-product .css-product-footer button {
    width: 157px;
    height: 48px;
}

.css-product-disabled {
    opacity: 0.4;
}